html, body {
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    line-height: 1.5;
    min-width: 1200px;
    color: #716C80;
    font-size: 1.125rem;
    background-color: #ffffff;
}

h1, h2, h3, h4 {
    margin: 0rem 0rem 1.5rem 0rem;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
}

h3, h4, h5 {
    font-size: 1.25rem;
}

p {
    margin: 0rem 0rem 1.5rem 0rem;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}